Introdução[[:space:]]ao[[:space:]]Bitcoin/Introdução[[:space:]]ao[[:space:]]Bitcoin.pptx filter=lfs diff=lfs merge=lfs -text
Introdução[[:space:]]ao[[:space:]]Lado[[:space:]]Técnico[[:space:]]do[[:space:]]Bitcoin/Introdução[[:space:]]ao[[:space:]]Lado[[:space:]]Técnico[[:space:]]do[[:space:]]Bitcoin.pptx filter=lfs diff=lfs merge=lfs -text
Backup[[:space:]]&[[:space:]]Segurança/Backup[[:space:]]&[[:space:]]Segurança.pptx filter=lfs diff=lfs merge=lfs -text
Carteiras[[:space:]]Físicas[[:space:]]e[[:space:]]Soluções[[:space:]]de[[:space:]]Backup/Carteiras[[:space:]]Físicas[[:space:]]e[[:space:]]Soluções[[:space:]]de[[:space:]]Backup.pptx filter=lfs diff=lfs merge=lfs -text
Bitcoin[[:space:]]para[[:space:]]Comerciantes/Bitcoin[[:space:]]para[[:space:]]Comerciantes.pptx filter=lfs diff=lfs merge=lfs -text
Correr[[:space:]]um[[:space:]]Nó[[:space:]]de[[:space:]]Bitcoin/Correr[[:space:]]um[[:space:]]Nó[[:space:]]de[[:space:]]Bitcoin.pptx filter=lfs diff=lfs merge=lfs -text
